<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>socket.io聊天室</title>

		<link rel="stylesheet" type="text/css" href="/plugins/Font-Awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/app.css">
		<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	</head>

	<body>
		<input id="openId" value="<%= openId %>" type="hidden">
		<input id="nickname" value="<%= nickname %>" type="hidden">
		<input id="figureurl" value="<%= figureurl_qq_1 %>" type="hidden">
		<div class="chaters_wrap">
			<div class="chaters_panel">
				<div class="chaters_title_panel">
					<span onclick="history.back(-1)">
						<i class="icon-angle-left"></i>
						<i class="icon-comments"></i>
					</span>
					<span class="chaters_title">与张三聊天中</span>
					<i class="icon-user pull-right"></i>
				</div>
				<div class="chaters_context_panel">
					<div class="chaters_disconnect">你已经掉线</div>
				</div>

				<div class="chaters_input_panel">
					<input id="chaters_input" type="text" class="chaters_input"/>
					<button id="bt_send" class="btn chaters_button_send" type="button">发送</button>
				</div>
			</div>
		</div>


		<div class="hidden">
			<div id="tpl_item">
				<div class="chaters_item">
					<img class="chaters_user_img" src="">
					<div class="chaters_context_box">
						<span class="chaters_context">你好</span>
						<span class="chaters_arrow"></span>
					</div>
				</div>
			</div>
		</div>


	</body>
</html>

<script>

	var $document=$(document);
	var roomId=request("id"),isDisconnect;
	var client_height=$(document).height();

	//自定义路由参数 demo: request("id")
  	function request(name){
		var reg = new RegExp("(^|&)"+name+"=([^&]*)(&|$)");
		var r = window.location.search.substr(1).match(reg);
		if (r!=null){
		  return unescape(r[2]);
		}
		return null;
   	}

	//页面初始化函数
	function pageInit(){
		//获取头部的高度
		var titleHeight=$(".chaters_title_panel").outerHeight();
		//获取输入框的高度
		var inputHeight=$(".chaters_input_panel").outerHeight();
		var contextHeight=$(document).height()-titleHeight-inputHeight;
		$(".chaters_context_panel").outerHeight(contextHeight);
	}

	pageInit();

	var socket = io(null);
	socket.on('connect', function (data) {
		var data={
			receiveId:roomId
			,openId:$("#openId").val()
			,nickname:$("#nickname").val()
		}
		socket.emit('joinRoom', data);
		$(".chaters_disconnect").hide();
		isDisconnect&&clearTimeout(isDisconnect);
	});

	//若连接上了服务器，启动程序
	socket.on('disconnect', function (data) {
		isDisconnect=setTimeout(function(){
			$(".chaters_disconnect").show();
		},1000);
	});

	//监听消息
	socket.on('message', function (data) {
		data.location=data.receiveId===roomId?"right":"left";
		console.log(data);
		createHtml(data);
	});

	function createHtml(data){
		var $el=$("#tpl_item").children().clone();
		$el.addClass("chaters_item_"+data.location);
		$el.find(".chaters_arrow").addClass("icon-caret-"+data.location);
		$el.find(".chaters_user_img").attr("title",data.nickname).attr("src",data.src+".png?"+new Date().getTime());
		$el.find(".chaters_context").html(data.text);
		$(".chaters_context_panel").append($el).scrollTop(99999);
		return $el;
	}


	//点击发送按钮
	$document.on("click","#bt_send",function(){
		var $content=$("#chaters_input"),text=$content.val(),data;
		if(text===""){
			return;
		}

		data={
			receiveId:roomId
			,openId:$("#openId").val()
			,nickname:$("#nickname").val()
			,type:"msgList"
			,text:text
			,src:$("#figureurl").val()
			,location:"right"
			,time:new Date().toLocaleString()
		}
		socket.emit('sendRoomMessage', data);
		$content.val('');
	});

	//文本输入框按下ctrl+enter发送消息
	$document.on("keydown",".chaters_input",function(e){
		if(e.keyCode===13){
			$("#bt_send").trigger("click");
		}
	});

</script>
