<!DOCTYPE HTML>
<html ng-app="chatModule">
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no'>
	<title>会话</title>
	<link rel="stylesheet" type="text/css" href="/plugins/Font-Awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
	<script type="text/javascript" src="/js/angular-1.3.0.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
<body class="body-layer userchat-layer" ng-controller="chatCtrl">
	<input id="userId" value="<%= user._id %>" type="hidden">
	<input id="userNickname" value="<%= user.nickname %>" type="hidden">
	<input id="userImg" value="image/head_photo/<%= user.userImg %>" type="hidden">
	<input id="targetId" value="<%= target._id %>" type="hidden">
	<input id="targetNickname" value="<%= target.nickname %>" type="hidden">
	<input id="targetImg" value="image/head_photo/<%= target.userImg %>" type="hidden">
	<header class="body-header">
		<a href="javascript:(history.back(-1));" class="icon-back"></a>
		<a class="icon-menu"></a>
		会话

		<nav class="panel-menu">
			<a class="item">查看资料</a>
			<a class="item">查看聊天记录</a>
			<a class="item">删除好友</a>
		</nav>
	</header>
	<bodyer class="body-bodyer">
		<section class="userchat-list clearfix" auto-scroll>
			<div class="item item-{{po.pos}}" ng-repeat="po in list">
				<img class="photo" ng-src="{{po.userImg}}"/>
				<div class="userbox">{{po.text}}</div>
				<time>{{po.createTime}}</time>
			</div>
		</section>

		<section class="userchat-footer">
			<div class="userchat-inputbox">
				<input enter-submit ng-model="text" class="input-text" type="text" placeholder="请输入消息"/>
				<button class="btn-default btn-success btn-send" ng-click="send()">发送</button>
			</div>
		</section>
	</bodyer>
</body>
</html>

<script>

	//socket 启动
	var socket = io(null);
	socket.on('connect', function (data) {
		var info={
			userId:document.getElementById("userId").value
			,targetId:document.getElementById("targetId").value
		}
		console.log(info,"connect ok!");
		socket.emit('joinRoom', info);
	});

	var userinfo={
		userId:document.getElementById("userId").value
		,userNickname:document.getElementById("userNickname").value
		,userImg:document.getElementById("userImg").value
		,targetId:document.getElementById("targetId").value
		,targetNickname:document.getElementById("targetNickname").value
		,targetImg:document.getElementById("targetImg").value
	}

	//ng 模块启动
	angular.module('chatModule',[]).controller('chatCtrl',['$scope',
		function($scope){
            $scope.list=[];

            $scope.send=function(){
            	//$scope.list.push({text:'吃11了', createTime:"2014-09-16 15:46:19",userImg:"image/user3.png",pos:"right"});
            	var data={
            		userId:userinfo.userId
            		,targetId:userinfo.targetId
            		,text:$scope.text
            		,createTime:new Date().Format("yyyy-MM-dd HH:mm:ss")
            		,userImg:userinfo.userImg
            	}
            	socket.emit('sendRoomMessage',data);
            	$scope.text="";
            	//$scope.list.push(data);
            };
            $scope.aa=function(){
            	alert(1);
            };
            //监听消息
			socket.on('message', function (data) {
				if(data.userId===userinfo.userId){
					data.pos="right";
				}
				$scope.$apply(function(){
					$scope.list.push(data);
				});
			});
		}
	]).directive('enterSubmit', function() {
	    return {
	    	restrict:'AE',
	    	link:function(scope, element, attrs) {
		        element.bind("keydown", function(evt) {
		            if (evt.which === 13) {
	                    //scope.$apply('send()');
	                    scope.send();
	                    evt.preventDefault()
		            }
		        });
		    }
		}
	}).directive('autoScroll', function() {
	    return {
	        link: function(scope, element, attrs) {
	            scope.$watch(
	                function() {
	                    return element.children().length;
	                },
	                function() {
	                    element.css({
	                        scrollTop: element.prop('scrollHeight')
	                    });
	                }
	            );
	        }
	    };
	});

	Date.prototype.Format = function (fmt) { //author: meizz
	var o = {
	    "M+": this.getMonth() + 1, //月份
	    "d+": this.getDate(), //日
	    "H+": this.getHours(), //小时
	    "m+": this.getMinutes(), //分
	    "s+": this.getSeconds(), //秒
	    "q+": Math.floor((this.getMonth() + 3) / 3), //季度
	    "S": this.getMilliseconds() //毫秒
	};
	if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
	for (var k in o)
	if (new RegExp("(" + k + ")").test(fmt))
		fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
	return fmt;
	}
</script>