<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="qc:admins" content="17376517276230236375" />
        <title>用户列表</title>
        <link rel="stylesheet" type="text/css" href="/plugins/Font-Awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/app.css">
        <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    </head>

    <body>
        <div class="list_wrap">
            <div class="list_panel">
              <div class="list_title_panel">
                <i class="icon-comments"></i>
                <span class="list_title"><%= nickname %></span>
                <a href="login.html?type=loginOut" class="qqLoginOut pull-right" title="退出登录"><i class="icon-signout"></i> 退出</a>
              </div>
              <div class="list_context_panel"></div>
            </div>
        </div>

        <div class="hidden">
          <div id="tpl_item">
            <a href="chaters.html" class="list_item">
              <img class="list_user_img" src="/img/user3.png">
              <div class="list_content">
                <div class="list_content_username">张三</div>
                <div class="list_content_text">在线</div>
              </div>
            </a>
          </div>
        </div>
    </body>
</html>

<script type="text/javascript">
  var socket = io(null);
  socket.on('connectionok', function (data) {
    console.log("连接成功");
  });

  //创建html
  function createHtml(data){
    var $el=$("#tpl_item").children().clone();
    var id="tpl_item_"+data.openId;
    if($("#"+id).size()===0){
      $el.attr("id","tpl_item_"+data.openId).attr("href","chaters.html?id="+data.openId);
      $el.find(".list_content_username").html(data.nickname);
      $el.find(".list_user_img").attr("src",data.figureurl_qq_1);
      $el.appendTo(".list_context_panel");
    }
  }

  //监听登录用户
  socket.on('login', function (data) {
    createHtml(data);
  });

  //监听退出用户
  socket.on('loginOut', function (data) {
    var id="tpl_item_"+data.openId;
    $("#"+id).remove();
  });

  //获取在线人数列表
  $.get("onlines.do",function(data){
    for(var i=0,j=data.length;i<j;i++){
      createHtml(data[i]);
    }
  })

</script>
