<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>用户登录</title>
        <link rel="stylesheet" type="text/css" href="/css/app.css">
        <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    </head>

    <body>
        <div class="login_wrap">
            <div class="login_panel">
                <div class="login_logo"></div>
                <div class="login_logo_text">用户注册</div>
                <div class="login_input_div">
                    <a class="login_tip">请输入密码</a>
                    <input type="text" id="" class="login_input reg_username" placeholder="请输入用户名">
                    <input type="text" id="" class="login_input reg_username" placeholder="请输入昵称">
                    <input type="text" id="" class="login_input reg_password" placeholder="请输入密码">
                    <input type="text" id="" class="login_input reg_passwords" placeholder="请再次输入密码">
                </div>
                <input type="button" value="注  册" class="login_button login_in">
                <a href="login.html" class="login_button login_back">返回登录</a>
            </div>
        </div>
    </body>
</html>

<script>
    var $document=$(document);
    var default_name=undefined;


</script>
