*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	-webkit-tap-high-light-color: rgba(0,0,0,0);
		-webkit-focus-ring-color: rgba(0,0,0,0);
	/* -webkit-transition: all 0.3s linear;
			transition: all 0.3s linear; */
}
html,body,div,span,ul,ol,dl,dt,dd,li,h1,h2,h3,h4,h5,h6,form,label,p,a{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	line-height: inherit;
	vertical-align: baseline;
	background: transparent;
	font-family: '微软雅黑';
}
html{
	min-height: 100%;
	position: relative;
	font-size: 10px;
}

table{
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
	line-height: 1.6em;
}

select{
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
	color: #b7ad90;
}
select,x:-moz-any-link{ /*ff css hack*/
	padding-top: 0.7rem; 
}


h3{
	color: #65343c;
	font-weight: normal;
}
.no-decoration{text-decoration: none;}
.no-transition{transition:none;}
.no-transition *{transition:none;}
.overflow-hide{overflow:hidden;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.po-re{position: relative;}
.mt20{margin-top:2rem!important;}
.mt15{margin-top:1.5rem!important;}
.show,.showBlock{display:block !important;}
.no-select{
	user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}

.body-layer{
	background-color: #fff;
}

.body-boxer{
	margin:1.5rem;
	position: relative;
}

.body-panel{
	margin:1rem 0;
	background-color: #fff;
	border-radius:0.3rem;
	position: relative;
	width: 100%;
}

.body-header{
	height: 4.5rem;
	line-height: 4.5rem;
	text-align: center;
	position: relative;
	background-color: #29b42c;
	color: #fff;
	font-size: 1.8rem;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index:1001;
}
.body-header .icon-menu{
	position: absolute;
	right: 1.6rem;
	top: 50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	color: #fff;
}

.body-bodyer{
	position: relative;
	color: #fff;
	font-size: 1.8rem;
	display: block;
	padding-bottom: 5rem;
	padding-top: 4.5rem;
	z-index:1000;
}

.body-footer{
	padding: 1.2rem 1rem;
	background-color: #e4e4e4;
	color: #585858;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.btn-default{
	background: #ffffff;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f1f1f1));
	background: -webkit-linear-gradient(#ffffff, #f1f1f1);
	background: linear-gradient(#ffffff, #f1f1f1);
    color: #888;
    border: 0.1rem solid #d2ceb1;
   	box-shadow:0 0.2rem 0.2rem rgba(213, 213, 213, 0.25) inset;
    border-radius: 0.4rem;
    font-size: 1.6rem;
    font-weight: bold;
    height: 4.6rem;
    line-height: 4.6rem;
    outline: 0 none;
    text-align: center;
    text-decoration: none;
    width: 100%;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	display: block;
}

.btn-success{
	background: #21cb13;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#21cb13), to(#29b42c));
	background: -webkit-linear-gradient(#21cb13, #29b42c);
	background: linear-gradient(#21cb13, #29b42c);
	border: 0.1rem solid #40a217;
    box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.13), 0 0.1rem 0.1rem #9ed74a inset;
    color: #fff;
}

.btn-normal{
	background: white;
	color: #29b42c;
	border: 0.1rem solid #29b42c;
	box-shadow:0 1px 4px rgba(0, 225, 12, 0.1) inset;
	margin-top: 2rem;
}

.btn-disable{
	background: white;
	color: #8f3c9c;
	border: 0.1rem solid #9465a6;
	box-shadow:0 0 0;
	cursor: not-allowed;
}

.btn-cancel{
	background-color: #fff;
    border: 0.1rem solid #d2ceb1;
    border-radius: 0.7rem;
    color: #988788;
    font-size: 1.8rem;
    padding: 0.7rem;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.btn-xs{
	border-radius: 0.3rem;
	background-color: #7ecef4;
	text-align: center;
	color: white;
	text-decoration: none;
	display: block;
	cursor: pointer;
	font-size: 1.4rem;
    width: 7rem;
    height: 3rem;
    line-height: 3rem;
	user-select: none;
	-webkit-user-select: none;
}
.btn-xs-ok{
	background-color: #fff;
	border: 0.1rem solid #7ecef4;
	color: #7ecef4;
}

.form-group{
	padding: 0 1.5rem;
	position: relative;
}

input[type=text],input[type=password],input[type=number],input[type=seach],input[type=email],select{
	font-size: 1.6rem;
	padding: 0.3rem;
	background: #fff;
	color: #29b42c;
	border: 0.1rem solid rgba(26, 152, 16, 0.3);
	box-shadow: 0 0.1rem 0.6rem rgba(238,238,238,0.75) inset;
}

.form-group input[type=text],.form-group input[type=password]{
	height: 5rem;
	padding: 1rem;
}

input::-moz-placeholder{color:#A9D5AA;}
input::-webkit-input-placeholder{color:#A9D5AA;}
input,select{
	width: 100%;
}
.form-group input:focus~label,.form-group select:focus~label{
	/* -webkit-filter: brightness(0.6); */
}

.select-input{
	margin-top: 1rem;
	position: relative;
}
.select-input select{
	width: 100%;
}
.select-input:after {
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.8rem solid rgba(16, 82, 152, 0.6);
    bottom: 0;
    content: "";
    height: 0;
    position: absolute;
    right: 1em;
    top: 1em;
    width: 0;
}


/*登录-开始*/
.login-layer{}
.login-logo{
	min-height: 10rem;
	padding: 3rem 0;
}
.login-logo img{
	display: block;
	margin: 0 auto;
	width: 12.8rem;
	height: 12.8rem;
	border-radius: 0.5rem;
	box-shadow:0.2rem 0.2rem 0.2rem rgba(153, 153, 153, 0.57);
}
.login-layer .btn-box{
	padding: 2.5rem 1.5rem;
}
.login-layer .login-username{
	border-radius: 0.3rem 0.3rem 0 0;
}
.login-layer .login-password{
	margin-top: -0.1rem;
	border-radius: 0 0 0.3rem 0.3rem;
}

/*登录-结束*/

/*用户列表-开始*/
.userList-layer{}
.userList-list{}
.userList-list .item{
	padding: 1rem;
	border-bottom: 0.1rem solid #EDEDED;
	position: relative;
	display: block;
	overflow: hidden;
}
.userList-list .photo{
	width: 5rem;
	height: 5rem;
	display: block;
	border-radius: 50%;
}
.userList-list .userbox{
	position: absolute;
	top: 50%;left: 7.2rem;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}
.userList-list .username{
	color: red;
	font-size: 1.8rem;
}
.userList-list .info{
	padding-top: 0.5rem;
	color: #333;
	font-size: 1.4rem;
}
.userList-list .btn-default{
	position: absolute;
	right: 1em;
	top: 50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	font-size: 1.4rem;
	padding: 0.8rem 1.5rem;
	border-radius: 0.3rem;
	width: auto;
	height: auto;
	line-height: normal;
}
.userList-list .btn-del{
	right: -6rem;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#C40000), to(#8f0000));
	background: -webkit-linear-gradient(#C40000, #8f0000);
	background: linear-gradient(#C40000, #8f0000);
	color: #fff;
	border-color: #890000;
	transition: all 0.3s linear 0s;
	-webkit-transition: all 0.3s linear 0s;
}
.userList-list .btn-del-active{
	transform:translateX(-7rem) translateY(-50%);
	-webkit-transform:translateX(-7rem) translateY(-50%);
}
.userList-list .icon-menu{
	color: #888;
	border-radius: 0;
	padding: 0;
	right: 2.4rem;
}
/*用户列表-结束*/

/*用户会话-开始*/
.userchat-layer{}
.userchat-list{
	padding: 1rem 0.5rem;
}
.userchat-list .item{
	padding: 1rem;
	width: 80%;
	position: relative;
	float: left;
}

.userchat-list .photo{
	width: 4rem;
	height: 4rem;
	display: block;
	border-radius: 50%;
	left: 1rem;
    top: 1rem;
    position: absolute;
}
.userchat-list .userbox{
	color: #333;
	font-size: 1.6rem;
	border: 0.1rem solid #5FB07B;
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: #e1ffe7;
	margin-left: 5rem;
	word-wrap: break-word;
	word-break: break-all;
	display: inline-block;
}
.userchat-list time{
	position: absolute;
	bottom: -0.1rem;
	left: 6rem;
	display: block;
	font-size: 0.8rem;
	color: #5FB07B;
	font-family: georgia;
}
.userchat-list .userbox:before{
	position: absolute;
	top: 2.5rem;
	left: 5.5rem;
	border-top: 0.7rem solid transparent;
	border-bottom: 0.7rem solid transparent;
	border-right: 0.6rem solid #5FB07B;
	content: " ";
}
.userchat-list .item-right{
	float: right;
	text-align: right;
}
.userchat-list .item-right .photo{
	right: 1rem;
	left: auto;
}
.userchat-list .item-right .userbox{
	margin-right: 5rem;
	margin-left: 0;
	left: auto;
	border-color:#5F81B0;
	background-color: #e1e9ff;
}
.userchat-list .item-right time{
	right: 6rem;
	left: auto;
	color:#5F81B0;
}
.userchat-list .item-right .userbox:before{
	left: auto;
	right: 5.5rem;
	border-left: 0.6rem solid #5F81B0;
	border-right-width: 0;
	content: " ";
}
.userchat-footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 1rem;
	background-color: #fff;
	z-index:1001;
}
.userchat-inputbox{
	position: relative;
	padding-right: 8rem;
}
.userchat-inputbox .input-text{
	border-radius: 0.3rem;
	height:4rem;
	line-height:4rem;
}
.userchat-inputbox .btn-send{
	position: absolute;
	right: 0;
	top: 0;
	width: auto;
	height:4rem;
	line-height:4rem;
	width: 7rem;
}

/*用户会话-结束*/

/*菜单面板-开始*/
.panel-menu{
	position: absolute;
	top: 4.5rem;
	right: 0;
	width: 40%;
	height: auto;
	background-color: #000;
	z-index: 1001;
	display: none;
}
.panel-menu .item{
	padding: 1rem 1rem;
	background-color: rgba(91, 91, 91, 0.63);
	color: #fff;
	display: block;
	border-bottom: 0.1rem solid #000;
	border-top: 0.1rem solid #999;
	font-size: 1.4rem;
	text-align: left;
	line-height: normal;
	text-decoration: none;
}
.panel-menu .item:first-child{
	border-top-width: 0;
}
.panel-menu{
	border-bottom: 0.1rem solid #999;
}
.panel-menu .line{
	padding: 0;
}
/*菜单面板-结束*/

/*搜索-开始*/
.userSearch-layer{}
.userSearch-footer{
	padding: 1rem;
}

/*搜索-结束*/

/*注册-开始*/
.reg-layer{}
.reg-layer .form-box{
	padding: 1.5rem;
}
.reg-layer .form-group{
	padding:0;
	margin-bottom: 1.5rem;
}
.reg-username{
	border-radius: 3px;
}
.reg-password{
	border-radius: 3px 3px 0 0;
}
.reg-password-ok{
	margin-top: -0.1rem;
	border-radius:0 0 3px 3px;
}
.reg-layer .userImgBox{
	background-color: #f4ffef;
    border: 0.1rem solid rgba(26, 152, 16, 0.3);
    border-radius: 0.4rem;
    color: #6cbc5e;
    display: block;
    font-size: 1.4rem;
    text-align: center;
    font-size: 0;
}
.reg-layer .userImgBorder{
	display: inline-block;
	width: 20%;
	padding: 0.5rem;
}
.reg-layer .userImg{
	border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
}
.reg-layer .radio-userImg{
	display: none;
}
.reg-layer .radio-userImg:checked + .label-userImg{
	position: relative;
	border-radius: 50%;
	border: 6px inset #008815;
	display: block;
	background-color:#008815;
}
.reg-layer .radio-userImg:checked + .label-userImg:before{
	background-color: #29b42c;
    border-bottom-right-radius: 0.5rem;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    bottom: 0rem;
    right: 0rem;
}
.reg-layer .radio-userImg:checked + .label-userImg:after{
	border-bottom: 0.2rem solid #fff;
    border-left: 0.2rem solid #fff;
    border-top-left-radius: 0.2rem;
    content: "";
    height: 0.6rem;
    width: 1.1rem;
    position: absolute;
    right: 0.1rem;
    bottom: 0.6rem;
    transform: rotate(-45deg) skewX(-3deg);
	-webkit-transform: rotate(-45deg) skewX(-3deg);
}

/*注册-结束*/

/*消息提示框*/
.msg-box{
	position: fixed;left: 0;top: 0;
	width: 100%;height: 100%;/
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 1000;
	display: block;
}
.msg-box-panel{
	background-color: #fff;
	box-shadow: 0.1rem 0.1rem 0.2rem #1f1f1f;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    margin: 0 auto;
    position: absolute;left: 50%;top: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    background-color: #1b1b1b;
    border: 0.1rem solid #000;
    color: #fff;
}
.msg-box-icon{
	padding-bottom: 0.5rem;
	text-align: center;
	font-size: 2.4rem;
}

[class*="msg-icon"]{
    margin: auto;
    color: #fff;
}

.msg-text{
	text-align: center;
	display: block;
	font-size: 1.2rem;
}


.icon-back{
	position: absolute;
	left: 1rem;
	top: 50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	width: 2.3rem;height: 2.3rem;
	color: #105298;
}
.icon-back:before,.icon-back:after{
    border-bottom: 0.9rem solid transparent;
    border-top: 0.9rem solid transparent;
    content: "";
    height: 0;
    position: absolute;
    top: 0.2rem;
    width: 0;
}
.icon-back:before{
    border-right: 0.9rem solid #fff;
    left: 0.6rem;
}
.icon-back:after{
    border-right: 0.9rem solid #29b42c;
    left: 0.8rem;
}


.icon-menu{
	width: 2.2rem;height: 1.8rem;
	color: #105298;
	border-top: 0.2rem solid;
	/* pointer-events: none; */
}
.icon-menu:before{
    border-top: 0.2rem solid;
    border-bottom: 0.2rem solid;
    content: "";
    height: 0.6rem;
    width: 2.2rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

.checkbox{
	width: auto;
	visibility: hidden;
}
.label-checkbox{
	color: #29b42c;
	position: relative;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	outline: 0 none;
	display: inline-block;
	margin-right: 1rem;
}
.label-checkbox:before{
	position: absolute;
	left: -2.4rem;
	bottom: 0.1rem;
	border: 2px solid #8B8C8B;
	content: "";
	width: 1.6rem;
	height: 1.6rem;
	background-color: #fff;
	border-radius: 0.3rem;
}

.checkbox:checked + .label-checkbox:after{
	border-bottom: 0.2rem solid #29b42c;
    border-left: 0.2rem solid #29b42c;
    border-radius: 0 0 0 0.2rem;
    content: "";
    height: 0.6rem;
    position: absolute;
    left: -2rem;
    bottom: 1rem;
    width: 1.2rem;
    transform: rotate(-50deg) skewX(-12deg);
    -webkit-transform: rotate(-50deg) skewX(-12deg);
}


.radio{
	width: auto;
	visibility: hidden;
	display: none;
}
.label-radio{
	color: #29b42c;
	position: relative;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	outline: 0 none;
	display: inline-block;
	margin-right: 1rem;
	padding-left: 2.5rem;
}
.label-radio:before{
	position: absolute;
	left: 0rem;
	bottom: 0.1rem;
	border: 2px solid #77D579;
	content: "";
	width: 1.6rem;
	height: 1.6rem;
	background-color: #fff;
	border-radius: 50%;
}

.radio:checked + .label-radio:after{
	background-color: #29b42c;
    border-radius: 50%;
    bottom: 0.6rem;
    content: "";
    height: 1rem;
    left: 0.5rem;
    position: absolute;
    width: 1rem;
}